---
layout: default
title: Plan du site
menu: Bas
---
<ul class="post-list">
{% assign pages = site.pages | sort: 'title' %}
{% for my_page in pages %}
  <li>
    <h2>
      <a class="post-link" href="{{ my_page.url | relative_url }}">
          {{ my_page.title | escape }}
      </a>
    </h2>
  </li>
{% endfor %}
</ul>
