\:root
  --main-color: #333333
  --text-color: #333333
  --text-color-dark: #111111
  --text-color-lighten: #555555
  --second-color: #ffffff
  --overlay-color: #D9D9D999

  --blue: #007bff
  --indigo: #6610f2
  --purple: #6f42c1
  --pink: #e83e8c
  --red: #dc3545
  --orange: #fd7e14
  --yellow: #ffc107
  --green: #28a745
  --teal: #20c997
  --cyan: #17a2b8
  --white: #fff
  --gray: #6c757d
  --gray-dark: #343a40
  --primary: #007bff
  --secondary: #6c757d
  --success: #28a745
  --info: #17a2b8
  --warning: #ffc107
  --danger: #dc3545
  --light: #f8f9fa
  --dark: #343a40

  
  --breakpoint-xs: 0
  --breakpoint-sm: 576px
  --breakpoint-md: 768px
  --breakpoint-lg: 992px
  --breakpoint-xl: 1200px

  --main: #eeeeee
  --text-main: #333333
  --text-light: #eeeeee
  --jade: #00a86b
  --blue: #007bff
  --indigo: #6610f2
  --purple: #6f42c1
  --pink: #e83e8c
  --red: #dc3545
  --orange: #fd7e14
  --yellow: #ffc107
  --green: #28a745
  --teal: #20c997
  --cyan: #17a2b8
  --white: #fff
  --gray: #6c757d
  --gray-dark: #343a40
  --primary: #007bff
  --secondary: #6c757d
  --success: #28a745
  --info: #17a2b8
  --warning: #ffc107
  --danger: #dc3545
  --light: #f8f9fa
  --dark: #343a40
  --breakpoint-xs: 0
  --breakpoint-sm: 576px
  --breakpoint-md: 768px
  --breakpoint-lg: 992px
  --breakpoint-xl: 1200px
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
